{% extends "base.html" %}
{% block title %}
    
    {% if object %}
        Edit Course "{{ object.title }}"
    {% else %}
        Create New Course
    {% endif %}
    
    {% block content %}
        <h1>
            {% if object %}
                Edit Course "{{ object.title }}"
            {% else %}
                Create New Course
            {% endif %}
        </h1>
        <div class="module">
            <h2>Course Info</h2>
            <form action="." method="POST" enctype="multipart/form">
                {{ form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Save Course"></p>
            </form>
        </div>
    {% endblock %}
    
{% endblock %}