{% extends "base.html" %}


{% block title %}

    {% if subject %}
        {{ subject.title }} Courses
    {% else %}
        All Courses
    {% endif %}

{% endblock title %}


{% block content %}
    <h1>
        {% if subject %}
            {{ subject.title }} Courses
        {% else %}
            All Courses
        {% endif %}
    </h1>
    
    <div class="container-fluid">
        <div class="row">
            <div class="contents col-md-3 col-lg-2">
                <h3>Subjects</h3>
                <ul class="modules">
                    <li {% if not subject %} class="selected" {% endif %}>
                        <a href="{% url 'course_list' %}">All</a>
                    </li>
                    {% for s in ordered_subjects %}
                    <li {% if subject == s %} class="selected" {% endif %}>
                        <a href="{% url 'course_list_subject' s.slug %}">
                            {{ s.title }}
                            <br>
                            <span>{{ s.total_courses }} Courses</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            
            <div class="module col-md-9 col-lg-10">
                <div class="row w-100">
                    {% for course in courses %}
                    {% with subject=course.subject %}
                    <div class="col-sm-12 col-md-3">
                        <div class="course-card mb-4">
                            <div class="cc-cover">
                                <img 
                                {% if course.banner %}
                                    src="{{ course.banner.url }}" 
                                {% else %}
                                    src="https://picsum.photos/200/300"
                                {% endif %} 
                                alt="{{ course.title }}">
                            </div>
                            <div class="cc-content">
                                <div class="course-card--title">
                                    <a href="{% url 'course_detail' course.slug %}">
                                        {{ course.title }}
                                    </a>
                                </div>
                                <div class="cc-detail">
                                    <a href="{% url 'course_list_subject' subject.slug %}">
                                        <i>{{ subject }}</i>
                                    </a>
                                    {{ course.total_modules }} modules.
                                </div>
                                <div class="cc-metadata">
                                    instructor:
                                    <a href="{% url 'course_list_owner' course.owner.username %}">
                                        {{ course.owner.get_full_name|default:course.owner.username|title }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endwith %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}