{% extends "base.html" %}


{% block title %}
    Courses by: {{ owner.get_full_name }}
{% endblock title %}


{% block content %}
    <h1>
        Courses by: {{ owner.get_full_name }}
    </h1>

    <div class="module">
        {% for course in courses %}
            {% with subject=course.subject %}
                <h3><a href="{% url 'course_detail' course.slug %}">
                    {{ course.title }}
                </a></h3>
                <p>
                    <a href="{% url 'course_list_subject' subject.slug %}">
                        {{ subject }}
                    </a>
                    {{ course.total_modules }} modules.
                    instructor: {{ course.owner.get_full_name }}
                </p>
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}