{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Enstructor {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<div id="header">
    <a href="/" class="logo">Enstructor</a>
    <ul class="menu">
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Sign out</a></li>
            <li>
                <a href="{% url 'manage_course_list' %}">
                    My Account
                </a>
            </li>
        {% else %}
            <li><a href="{% url 'login' %}">Sign in</a></li>
        {% endif %}
    </ul>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
    $(document).ready(function () {
        {% block domready %}
        {% endblock domready %}
    })
</script>

</body>
</html>